<html>
    <head>
        <title> home pagina</title>
    </head>
    <body>
        <h1>hi mijo</h1>

        <p>{{value}}</p>
        <form class = 'grid' action='/result' method='POST'>

            <center> 
                {% if name  %}
                <h3 style="color: blue;"> Hello {{name}}, how are you?</h3>
                {% endif %}


            </center>

            <label for="Name"> Enter Your Name: </label>
            <input type="text" name='name' id='name'>

            <center>
            <input type="submit" class = 'file_submit'>
            </center>


        </form>
        <p>{{d}}</p>

    </body>


</html>